.yodlr-searchbox {
    border: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}


.yodlr-searchbox__field {
    font-size: 0.875rem;
}

.yodlr-searchbox__field:focus {
    border: 1px solid #346cb0; 
}

.yodlr-searchbox__icon {
    padding: .8rem;
}

