body {
    background-color: #EFEFEF;
}

th {
    font-size: .8rem;
}

.table thead td,
.table thead th {
    border-top-width: 0;
    border-bottom-width: 1px;
}

.card-header {
    background-color: transparent;
    padding-bottom: 0;
}

.temp {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.custom-nav {
    border-bottom: 1px solid #cccccc;
}

.white {
    color: #ffffff !important;
}

.bg-deep-blue {
    background-color: #2d4d79;
}

.show {
    display: block !important;
}

.backdrop {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100%;
}